version: "3.9"

services:
  web:
    build: .
    command: >
      sh -c "python manage.py collectstatic --noinput && gunicorn thuso.wsgi:application --bind unix:/code/gunicorn.sock"
    volumes:
      - media_volume:/code/uploads
    expose:
      - 8000
    depends_on:
      - db
      - redis
  nginx:
    image: nginx:latest
    restart: unless-stopped
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - media_volume:/code/uploads
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - web
  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - "POSTGRES_HOST_AUTH_METHOD=trust"
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
  celery:
    build: .
    command: celery -A thuso worker -l info
    volumes:
      - .:/code
    depends_on:
      - web

volumes:
  postgres_data:
  certbot-etc:
  certbot-var:
  media_volume:

