version: "3.9"

services:
  web:
    build: .
    command: gunicorn thuso.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/usr/src/app:rw
      - static-volume:/usr/src/app/staticfiles/:rw
      - media-volume:/usr/src/app/mediafiles/:rw
    env_file:
      - .env
    depends_on:
      - db
      - redis
  nginx:
    build: ./nginx
    restart: unless-stopped
    volumes:
      - static-volume:/home/staticfiles/:rw
      - media-volume:/home/mediafiles/:rw
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - web
      - flower
  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
  redis:
    image: redis:latest
  celery:
    build: .
    command: celery -A thuso worker -l info
    volumes:
      - .:/usr/src/app
    env_file:
      - .env
    depends_on:
      - redis
      - db
  celery-beat:
    build: .
    command: celery -A thuso beat -l info
    volumes:
      - .:/usr/src/app
    env_file:
      - .env
    depends_on:
      - redis
      - db
  flower:
    image: mher/flower:0.9.7
    command: flower --broker=redis://redis:6379 --port=5555
    volumes:
      - .:/usr/src/app
    env_file:
      - .env
    expose:
      - 5555
    depends_on:
      - redis

volumes:
  postgres_data:
  certbot-etc:
  certbot-var:
  media-volume:
  static-volume:
