version: "3.9"

services:
  web:
    build: .
    command: gunicorn --timeout 60 thuso.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static-volume:/code/staticfiles
      - media-volume:/code/mediafiles
    env_file:
      - .env
    depends_on:
      - db
      - redis
  nginx:
    build: ./nginx
    restart: unless-stopped
    volumes:
      - static-volume:/code/staticfiles
      - media-volume:/code/mediafiles
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - web
      - flower
  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
  celery:
    build: .
    command: celery -A thuso worker -l info
    volumes:
      - .:/code
    env_file:
      - .env
    depends_on:
      - redis
      - db
  celery-beat:
    build: .
    command: celery -A thuso beat -l info
    volumes:
      - .:/code
    env_file:
      - .env
    depends_on:
      - redis
      - db
  flower:
    image: mher/flower:0.9.7
    command: flower --broker=redis://redis:6379 --port=5555
    volumes:
      - .:/code
    env_file:
      - .env
    expose:
      - 5555
    depends_on:
      - redis

volumes:
  postgres_data:
  certbot-etc:
  certbot-var:
  media-volume:
  static-volume:
