version: "3.9"

services:
  web:
    build: .
    command: python /code/manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - .:/code
    env_file:
      - .env.dev
    depends_on:
      - db
      - redis
  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
  redis:
    image: redis:latest
  celery:
    build: .
    command: celery -A thuso worker -l info
    volumes:
      - .:/code
    env_file:
      - .env.dev
    depends_on:
      - db
      - redis
  celery-beat:
    build: .
    command: celery -A thuso beat -l info
    volumes:
      - .:/code
    env_file:
      - .env.dev
    depends_on:
      - redis
      - db
  flower:
    image: mher/flower:0.9.7
    command: flower --broker=redis://redis:6379 --port=5555
    volumes:
      - .:/code
    env_file:
      - .env.dev
    ports:
      - "5555:5555"
    depends_on:
      - redis

volumes:
  postgres_data:
