version: "3.9"

services:
  web:
    build: .
    command: sh -c "python manage.py migrate --noinput && python manage.py collectstatic --noinput && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/home/app
      - static-volume:/home/app/static
      - media-volume:/home/app/media
    env_file:
      - .env.dev
    depends_on:
      - db
      - redis
  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile.dev
    restart: unless-stopped
    volumes:
      - static-volume:/home/app/static
      - media-volume:/home/app/media
    ports:
      - "80:80"
    depends_on:
      - web
  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
  redis:
    image: redis:latest
  celery:
    build: .
    command: celery -A thuso worker -l info
    volumes:
      - .:/home/app
    env_file:
      - .env.dev
    depends_on:
      - db
      - redis
  celery-beat:
    build: .
    command: celery -A thuso beat -l info
    volumes:
      - .:/home/app
    env_file:
      - .env.dev
    depends_on:
      - redis
      - db

volumes:
  postgres_data:
  media-volume:
  static-volume:
