version: "3.9"

services:
  web:
    build: .
    command: gunicorn --timeout 60 thuso.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static-volume:/code/staticfiles
      - media-volume:/code/media
    depends_on:
      - db
      - redis
  nginx:
    build: ./nginx
    restart: unless-stopped
    volumes:
      - static-volume:/home/staticfiles
      - media-volume:/home/media
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - web
  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - "POSTGRES_HOST_AUTH_METHOD=trust"
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
  celery:
    build: .
    command: celery -A thuso worker -l info
    volumes:
      - .:/code
    depends_on:
      - web
      - redis
  celery-beat:
    build: .
    command: celery -A thuso beat -l info
    volumes:
      - .:/code
    depends_on:
      - web
      - db

volumes:
  postgres_data:
  certbot-etc:
  certbot-var:
  media-volume:
  static-volume:


