
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}

body, wrapper {
   min-height:100vh;
}

.flex-fill {
   flex:1 1 auto;
}

.landing-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}
h1 {
    color: #007bff;
    font-size: 32px;
}
p {
    font-size: 18px;
}
.whatsapp-link {
    display: block;
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
    background-color: #25d366;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.whatsapp-link:hover {
    background-color: #128c7e;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

select {
    padding: 5px;
}

button {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

h2 {
    margin-top: 20px;
    color: #444;
}

.filter {
    margin-top: 10px;
}


/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}


/* Style the form container */
form {
    margin-bottom: 20px;
}

/* Style the form elements */
label {
    font-weight: bold;
}

select {
    padding: 2px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="date"] {
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style the header */
h2, h3 {
    margin-top: 20px;
}

/* Style the match cards */
.match-cards {
    display: flex;
    flex-wrap: wrap;
}

.match-card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    margin: 10px;
    padding: 10px;
    min-width: calc(50% - 20px);
}

.match-info {
    text-align: center;
}

.team {
    font-weight: bold;
}

.time {
    color: #777;
}

.prediction {
    font-style: italic;
}

.status {
    font-weight: bold;
}

.status.won {
    color: green;
}

.status.lost {
    color: red;
}

.result {
    font-weight: bold;
}

.odds {
    padding: 0 5px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.animation-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.dash {
  margin: 0 15px;
  width: 35px;
  height: 15px;
  border-radius: 8px;
  background: #FF2CBD;
  box-shadow: 0 0 10px 0 #FECDFF;
}

.uno {
  margin-right: -18px;
  transform-origin: center left;
  animation: spin 3s linear infinite;
}

.dos {
  transform-origin: center right;
  animation: spin2 3s linear infinite;
  animation-delay: .2s;
}

.tres {
  transform-origin: center right;
  animation: spin3 3s linear infinite;
  animation-delay: .3s;
}

.cuatro {
  transform-origin: center right;
  animation: spin4 3s linear infinite;
  animation-delay: .4s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(360deg);
  }
  30% {
    transform: rotate(370deg);
  }
  35% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-180deg);
  }
  35% {
    transform: rotate(-190deg);
  }
  40% {
    transform: rotate(-180deg);
  }
  78% {
    transform: rotate(-180deg);
  }
  95% {
    transform: rotate(-360deg);
  }
  98% {
    transform: rotate(-370deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes spin3 {
  0% {
    transform: rotate(0deg);
  }
  27% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(180deg);
  }
  45% {
    transform: rotate(190deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  80% {
    transform: rotate(370deg);
  }
  85% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin4 {
  0% {
    transform: rotate(0deg);
  }
  38% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-360deg);
  }
  65% {
    transform: rotate(-370deg);
  }
  75% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
