
body {
    background-color: #f8f9fa;
    font-family: sans-serif;
}
.landing-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}
h1 {
    color: #007bff;
    font-size: 32px;
}
p {
    font-size: 18px;
}
.whatsapp-link {
    display: block;
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
    background-color: #25d366;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.whatsapp-link:hover {
    background-color: #128c7e;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

select {
    padding: 5px;
}

button {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

h2 {
    margin-top: 20px;
    color: #444;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
	vertical-align: middle;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

thead th {
  width: 25%;
}

caption {
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  color: #333;
    margin-bottom: 16px;
}

thead {
  background-color: #333;
  color: white;
    font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: normal;
}

tbody th {
  background-color: #36c;
  color: #fff;
  text-align: left;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 0;
    height: 2.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* footer */
.footerCol {
    padding: 20px 0;
    text-align: center;
}

.copyrightCol {
    padding: 10px 0 10px;
    font-size: 14px;
}

.copyrightCol p {
    margin: 0;
}


