{% extends 'base.html' %}
{% block title %} Football Betting {% endblock %}
{% block content %}
    {% if unique_countries %}
    <form method="post">
        {% csrf_token %}
        <div style="display: flex; align-items: center;">
            <div style="margin-right: 20px;">
                <label for="country_select">Country:</label>
                <select name="selected_country" id="country_select">
                    {% for country in unique_countries %}
                        <option value="{{ country }}" {% if country == selected_country %}selected{% endif %}>{{ country }}</option>
                    {% endfor %}
                </select>
            </div>
            <div style="margin-right: 20px;">
                <label for="datepicker">Date:</label>
                <input type="date" id="datepicker" name="selected_date" value="{{ date|date:'Y-m-d' }}" required>
            </div>
            <div style="margin-right: 20px;">
                <button type="submit">Filter</button>
            </div>
        </div>
    </form>

    <h2>{{ selected_country }}</h2>
        {% if result_list %}
        {% for item in result_list %}
            <caption>{{ item.competition }}</caption>
            <table>
                <thead>
                    <tr>
                        <th>Home</th>
                        <th>Away</th>
                        <th>Time</th>
                        <th>Prediction</th>
                        <th>Status</th>
                        <th>Result</th>
                    </tr>
                </thead>
                {% for match in item.matches %}
                    <tbody>
                        <tr>
                            <td>{{ match.home_team }}</td>
                            <td>{{ match.away_team }}</td>
                            <td>{{ match.start_date|date:"F d, Y H:i" }}</td>
                            <td>{{ match.prediction }}</td>
                            <td style="color: {% if match.status == 'won' %}green{% elif match.status == 'lost' %}red{% endif %};">{{ match.status.title }}</td>
                            <td>{{ match.result }}</td>
                        </tr>
                    </tbody>
                {% endfor %}
                </table>
        {% endfor %}
        {% else %}
            <p>No data</p>
        {% endif %}
    {% else %}
        <p>No data</p>
    {% endif %}
{% endblock %}
