{% extends 'base.html' %}
{% block title %} Football Betting {% endblock %}
{% block content %}
    {% if unique_countries %}
    <form method="post">
        {% csrf_token %}
        <label for="country_select">Select a country to filter by:</label>
        <select name="selected_country" id="country_select">
            {% for country in unique_countries %}
                <option value="{{ country }}" {% if country == selected_country %}selected{% endif %}>{{ country }}</option>
            {% endfor %}
        </select>
        <button type="submit">Filter</button>
    </form>

    <h2>{{ selected_country }}</h2>
    <ul>
        {% for item in result_list %}
            <caption>{{ item.competition }}</caption>
            <ul>
                {% for match in item.matches %}
                    <table>
                        <thead>
                            <tr>
                                <th>Home</th>
                                <th>Away</th>
                                <th>Time</th>
                                <th>Prediction</th>
                                <th>Status</th>
                                <th>Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ match.home_team }}</td>
                                <td>{{ match.away_team }}</td>
                                <td>{{ match.start_date|date:"F d, Y H:i" }}</td>
                                <td>{{ match.prediction }}</td>
                                <td>{{ match.status }}</td>
                                <td>{{ match.result }}</td>
                            </tr>
                        </tbody>
                    </table>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
    {% else %}
        <h2>No data</h2>
    {% endif %}
{% endblock %}
