{% extends 'base.html' %}
{% block title %} Football Betting {% endblock %}
{% block content %}
{% if unique_countries %}
<form method="post">
    {% csrf_token %}
    <div style="display: flex; align-items: center;">
        <div>
            <label for="country_select">Country:</label>
            <select name="selected_country" id="country_select">
                {% for country in unique_countries %}
                <option value="{{ country }}" {% if country == selected_country %} selected {% endif %}>
                    {{ country }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="datepicker">Date:</label>
            <input type="date" id="datepicker" name="selected_date" value="{{ date|date:'Y-m-d' }}" required>
        </div>
        <div>
            <button type="submit">Filter</button>
        </div>
    </div>
</form>

<h2>{{ selected_country }}</h2>
{% if result_list %}
{% for item in result_list %}
<h3>{{ item.competition }}</h3>
<div class="match-cards">
    {% for match in item.matches %}
    <div class="match-card">
        <div class="match-info">
            <p class="team">{{ match.home_team }} vs {{ match.away_team }}</p>
            <p class="time">{{ match.start_date|date:"F d, Y H:i" }}</p>
            <p class="prediction">Tip: {{ match.prediction }}</p>
            <p class="status"
               style="color: {% if match.status == 'won' %}green{% elif match.status == 'lost' %}red{% endif %};">
                {{ match.status.title }}
            </p>
            <p class="result">{{ match.result }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% else %}
<p>No data</p>
{% endif %}
{% else %}
<p>No data</p>
{% endif %}
{% endblock %}
